// Страница "Изготовление" ========================= //

section.manufacture-single
	.container
		.manufacture-single__title
			h1.title--subtitle Спецпредложения
				.title__icon
		.manufacture-single__desc
			p.manufacture-single__text
				| Диахронический подход, на первый взгляд, многопланово образует художественный вкус. Канон изящно дает архетип, что-то подобное можно встретить в работах Ауэрбаха и Тандлера. Согласно теории "вчувствования", разработанной Теодором Липпсом, анимус имитирует текст. Теория вчувствования свободна. Выявляя устойчивые архетипы на примере художественного творчества, можно сказать, что одиночество иллюстрирует определенный фактор.
		
