section.process
	.container
		.process__title
			h1.title--subtitle.title--color--black Процесс изготовления
				.title__icon
			ul.process__list
				li.process__item
					.process__pic
						img(src='/assets/img/process1.png').process__img
					.process__desc
						p.process__text Для начала следует обговорить качественные характеристики используемых материалов. Это может быть массив дерева или натуральный шпон, древесно-стружечная плита или МДФ. В каждом отдельном случае технология изготовления мебели имеет свои нюансы.
						.process__digit
							img(src='/assets/img/icons/01-.svg').process__digit-img
					.process__pic
						img(src='/assets/img/process1.png').process__img
				li.process__item
					.process__pic
						img(src='/assets/img/process3.png').process__img
					.process__desc.process__desc-white
						p.process__text.process__text--black Для начала следует обговорить качественные характеристики используемых материалов. Это может быть массив дерева или натуральный шпон, древесно-стружечная плита или МДФ. В каждом отдельном случае технология изготовления мебели имеет свои нюансы.
						.process__digit.process__digit-white
							img(src='/assets/img/icons/02-.svg').process__digit-img
					.process__pic
						img(src='/assets/img/process4.png').process__img
					.process__box-decoration
				li.process__item
					.process__pic
						img(src='/assets/img/process5.png').process__img
					.process__desc
						p.process__text Для начала следует обговорить качественные характеристики используемых материалов. Это может быть массив дерева или натуральный шпон, древесно-стружечная плита или МДФ. В каждом отдельном случае технология изготовления мебели имеет свои нюансы.
						.process__digit
							img(src='/assets/img/icons/03-.svg').process__digit-img
					.process__pic
						img(src='/assets/img/process6.png').process__img
				li.process__item
					.process__pic
						img(src='/assets/img/process7.png').process__img
					.process__desc.process__desc-white
						p.process__text.process__text--black Для начала следует обговорить качественные характеристики используемых материалов. Это может быть массив дерева или натуральный шпон, древесно-стружечная плита или МДФ. В каждом отдельном случае технология изготовления мебели имеет свои нюансы.
						.process__digit.process__digit-white
							img(src='/assets/img/icons/04-.svg').process__digit-img
					.process__pic
						img(src='/assets/img/process8.png').process__img
					.process__box-decoration
				li.process__item
					.process__pic
						img(src='/assets/img/process9.png').process__img
					.process__desc
						p.process__text Для начала следует обговорить качественные характеристики используемых материалов. Это может быть массив дерева или натуральный шпон, древесно-стружечная плита или МДФ. В каждом отдельном случае технология изготовления мебели имеет свои нюансы.
						.process__digit
							img(src='/assets/img/icons/05-.svg').process__digit-img
					.process__pic
						img(src='/assets/img/process10.png').process__img

