
.cooperation-single {
  padding: 60px 0 210px 0;
  background-image: url("/assets/img/cooperation.png");
  background-size: cover;
  background-position: center;
  position: relative;
  max-height: 800px;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(87, 79, 70, 0.55);
  }

  &__description {
    margin-top: 280px;
    z-index: 10;
    position: relative;
    width: 624px;
  }

  &__text {
  text-align: justify;
  }
}
