section.special
	.special__banner
		.special__title
			h1.title--subtitle Спецпредложения
				.title__icon
				span.subtitle специально для Вас
	.special__offers
		.container
			ul.special__list
				li.special__item
					.special__name При заказе от 20 000 руб сборка БЕСПЛАТНО
					.special__desc После раскроя материалов и подготовки деталей к сборке на все поверхности наносится соответствующее лакокрасочное покрытие.
					button(type='button').button--second За покупками
				li.special__item
					.special__name Получите скидку 5% при регистрации
					.special__desc После раскроя материалов и подготовки деталей к сборке на все поверхности наносится соответствующее лакокрасочное покрытие.
					button(type='button').button--second Зарегистрироваться
				li.special__item
					.special__name Повторная встреча с дизайнером БЕСПЛАТНО
					.special__desc После раскроя материалов и подготовки деталей к сборке на все поверхности наносится соответствующее лакокрасочное покрытие.
					button(type='button').button--second Оставить заявку
				li.special__item
					.special__mess Условия акции уточняйте у менеджеров*
