// Страница "Встреча с дизайнером", секция "Встреча с дизайнером" ========================= //

.designer-single {
  padding: 50px 0 90px 0;
  background: url("/assets/img/designer.png");
  background-size: cover;
  min-height: 1000px;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(87, 79, 70, 0.4);
  }

  &__form {
    background: rgba(87, 79, 70, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    margin-top: 40px;
  }
}
