// Страница "Личный кабинет" секция "Личный кабинет" ========================= //

.personal-area
	.container
		.personal-area
			.personal-area__nav
				include ../personal-area/personal-area-nav
			.personal-area__sections
				.personal-area__tabs.personal-area__tabs--active.personal-area__information
					include ../personal-area/personal-info
				.personal-area__tabs.personal-area__favorites
					include ../personal-area/personal-favorite
				.personal-area__tabs.personal-area__orders
					include ../personal-area/personal-orders
