// Страница "Личный кабинет" секция "Избранное" ========================= //

.personal-favorite
	ul.personal-favorite__list
		li.personal-favorite__item
			.personal-favorite__icon *
			.personal-favorite__title Диван Белфаст
			.personal-favorite__pic
				img(src='/assets/img/catalog/item2.png')
			.personal-favorite__button-box
				button(type='button').personal-favorite__button.button Заказать
		li.personal-favorite__item
			.personal-favorite__icon *
			.personal-favorite__title Диван Белфаст
			.personal-favorite__pic
				img(src='/assets/img/catalog/item2.png')
			.personal-favorite__button-box
				button(type='button').personal-favorite__button.button Заказать
		li.personal-favorite__item
			.personal-favorite__icon *
			.personal-favorite__title Диван Белфаст
			.personal-favorite__pic
				img(src='/assets/img/catalog/item2.png')
			.personal-favorite__button-box
				button(type='button').personal-favorite__button.button Заказать
		li.personal-favorite__item
			.personal-favorite__icon *
			.personal-favorite__title Диван Белфаст
			.personal-favorite__pic
				img(src='/assets/img/catalog/item2.png')
			.personal-favorite__button-box
				button(type='button').personal-favorite__button.button Заказать
