// Страница "Личный кабинет" секция "Ваши заказы" ========================= //

.personal-orders
	ul.personal-orders__list
		li.personal-orders__item
			.personal-orders__card
				.personal-orders__title Диван Белфаст
				.personal-orders__pic
					img(src='/assets/img/catalog/item2.png')
				.personal-orders__order № 123123
			.personal-orders__table
				.personal-orders__table-row
					.personal-orders__table-cell1 Дата заказа:  
					.personal-orders__table-cell2 22.03.2020
				.personal-orders__table-row
					.personal-orders__table-cell1 Описание:
					.personal-orders__table-text Плитовые материалы не нуждаются в дополнительном покрытии, так как еще в листовом варианте покрываются ламинатом.
				.personal-orders__table-row
					.personal-orders__table-cell1  Способ доставки:
					.personal-orders__table-cell2  Самовывоз
				.personal-orders__table-row
					.personal-orders__table-cell1  Стоимость:
					.personal-orders__table-cell2  25 000 руб
				.personal-orders__table-row.personal-orders__table-status
					.personal-orders__table-cell1  Статус заказа:
					.personal-orders__table-cell2  В обработке
		li.personal-orders__item
			.personal-orders__card
				.personal-orders__title Диван Белфаст
				.personal-orders__pic
					img(src='/assets/img/catalog/item1.png')
				.personal-orders__order № 123123
			.personal-orders__table
				.personal-orders__table-row
					.personal-orders__table-cell1 Дата заказа:  
					.personal-orders__table-cell2 22.03.2020
				.personal-orders__table-row
					.personal-orders__table-cell1 Описание:
					.personal-orders__table-text Плитовые материалы не нуждаются в дополнительном покрытии, так как еще в листовом варианте покрываются ламинатом.
				.personal-orders__table-row
					.personal-orders__table-cell1  Способ доставки:
					.personal-orders__table-cell2  Самовывоз
				.personal-orders__table-row
					.personal-orders__table-cell1  Стоимость:
					.personal-orders__table-cell2  25 000 руб
				.personal-orders__table-row.personal-orders__table-status
					.personal-orders__table-cell1  Статус заказа:
					.personal-orders__table-cell2  В обработке

