// Страница "Личный кабинет" секция "Личная Информация" ========================= //

.personal-info
	.personal-info__title Добро пожаловать в личный кабинет!
	.personal-info__data
		.personal-info__item.personal-info__phone Телефон:
			.personal-info__phone-num +7 (999) 908 88 00
		.personal-info__item.personal-info__mail Почта:
			.personal-info__mail-adress mail@gmail.com
		.personal-info__item.personal-info__card Карта:
			button(type='button').personal-info__button-card.button прикрепить
	.personal-info__button-box
		button(type='button').personal-info__button.button Редактировать

