// Страница "Личный кабинет" "Меню" ========================= //

.personal-area-nav
	.personal-area-nav__name Виктор Николаевич
		.title__icon
	nav.personal-area-nav__list
		li.personal-area-nav__item
			button(type='button' data-tab-name='personal-area__information').button.personal-area-nav__button.personal-area-nav__button--active Личная информация
				svg(width='22', height='25', viewBox='0 0 22 25').personal-area-nav__button-icon
					path(d='M10.9998 12.8167C12.1832 12.8167 13.34 12.4658 14.324 11.8083C15.308 11.1508 16.0749 10.2164 16.5277 9.12306C16.9806 8.02975 17.0991 6.8267 16.8682 5.66605C16.6373 4.50539 16.0675 3.43926 15.2307 2.60248C14.3939 1.7657 13.3278 1.19584 12.1671 0.964971C11.0065 0.734102 9.80342 0.852592 8.71011 1.30546C7.6168 1.75832 6.68233 2.52522 6.02488 3.50917C5.36742 4.49313 5.0165 5.64994 5.0165 6.83333C5.0165 8.42021 5.64689 9.9421 6.76898 11.0642C7.89107 12.1863 9.41296 12.8167 10.9998 12.8167ZM10.9998 2.81667C11.7943 2.81667 12.5708 3.05224 13.2314 3.4936C13.8919 3.93496 14.4067 4.56227 14.7108 5.29622C15.0148 6.03017 15.0943 6.83779 14.9393 7.61695C14.7843 8.3961 14.4018 9.11181 13.84 9.67355C13.2783 10.2353 12.5626 10.6178 11.7834 10.7728C11.0043 10.9278 10.1967 10.8483 9.46273 10.5443C8.72878 10.2402 8.10146 9.72541 7.6601 9.06487C7.21874 8.40434 6.98317 7.62776 6.98317 6.83333C6.98317 5.76805 7.40635 4.74639 8.15962 3.99312C8.9129 3.23985 9.93455 2.81667 10.9998 2.81667Z', stroke='#D29965', stroke-width='0.3')
					path(d='M19.1137 22.5163C18.8799 20.7844 18.0361 19.1903 16.7311 18.0225C15.3843 16.8173 13.6406 16.1505 11.8333 16.1497L19.1137 22.5163ZM19.1137 22.5163H2.8863C3.12008 20.7844 3.96386 19.1903 5.26893 18.0225C6.61573 16.8173 8.35936 16.1505 10.1667 16.1497C10.1667 16.1497 10.1667 16.1497 10.1667 16.1497H11.8333L19.1137 22.5163ZM1.13801 24.195L1.24346 24.0896L1.13801 24.195C1.32242 24.3794 1.57254 24.483 1.83333 24.483H20.1667C20.4275 24.483 20.6776 24.3794 20.862 24.195C21.0464 24.0106 21.15 23.7605 21.15 23.4997C21.15 21.0287 20.1684 18.659 18.4212 16.9118C16.674 15.1646 14.3043 14.183 11.8333 14.183H10.1667C7.69573 14.183 5.326 15.1646 3.57879 16.9118C1.83157 18.659 0.85 21.0287 0.85 23.4997C0.85 23.7605 0.953601 24.0106 1.13801 24.195Z', stroke='#D29965', stroke-width='0.3')
		li.personal-area-nav__item
			button(type='button' data-tab-name='personal-area__favorites').button.personal-area-nav__button Избранное
				svg(width='23', height='22', viewBox='0 0 23 22', xmlns='http://www.w3.org/2000/svg').personal-area-nav__button-icon
					path(d='M16.675 0.397461C14.674 0.397461 12.7535 1.32255 11.5 2.78441C10.2465 1.32255 8.326 0.397461 6.325 0.397461C2.783 0.397461 0 3.1613 0 6.67891C0 10.996 3.91 14.5136 9.8325 19.8585L11.5 21.3547L13.1675 19.8471C19.09 14.5136 23 10.996 23 6.67891C23 3.1613 20.217 0.397461 16.675 0.397461ZM11.615 18.1568L11.5 18.2711L11.385 18.1568C5.911 13.2345 2.3 9.97953 2.3 6.67891C2.3 4.39475 4.025 2.68163 6.325 2.68163C8.096 2.68163 9.821 3.81229 10.4305 5.37694H12.581C13.179 3.81229 14.904 2.68163 16.675 2.68163C18.975 2.68163 20.7 4.39475 20.7 6.67891C20.7 9.97953 17.089 13.2345 11.615 18.1568Z')
		li.personal-area-nav__item
			button(type='button' data-tab-name='personal-area__orders').button.personal-area-nav__button Ваши заказы
				svg(width='20', height='23', viewBox='0 0 20 23', xmlns='http://www.w3.org/2000/svg').personal-area-nav__button-icon
					path(d='M19.0909 5.75H15.2273V5.29C15.2273 2.369 12.8864 0 10 0C7.11364 0 4.77273 2.369 4.77273 5.29V5.75H0.909091C0.40625 5.75 0 6.16113 0 6.67V22.08C0 22.5889 0.40625 23 0.909091 23H19.0909C19.5938 23 20 22.5889 20 22.08V6.67C20 6.16113 19.5938 5.75 19.0909 5.75ZM6.81818 5.29C6.81818 3.51038 8.24148 2.07 10 2.07C11.7585 2.07 13.1818 3.51038 13.1818 5.29V5.75H6.81818V5.29ZM17.9545 20.93H2.04545V7.82H4.77273V10.35C4.77273 10.4765 4.875 10.58 5 10.58H6.59091C6.71591 10.58 6.81818 10.4765 6.81818 10.35V7.82H13.1818V10.35C13.1818 10.4765 13.2841 10.58 13.4091 10.58H15C15.125 10.58 15.2273 10.4765 15.2273 10.35V7.82H17.9545V20.93Z')

