// Страница "Партнеры", секция "Наши Партнеры" ========================= //
section.partners
	.container
		.partners__title
			h1.title--subtitle Партнеры
				.title__icon
				span.subtitle Нам доверяют
		.partners__content
			ul.partners__list
				li.partners__item
					.partners__logo
						| ЛОГОТИП ПАРТНЕРА
					.partners__desc
						.partners__name Название партнера
						| Диахронический подход, на первый взгляд, многопланово образует художественный вкус. Канон изящно дает архетип, что-то подобное можно встретить в работах Ауэрбаха и Тандлера. Согласно теории "вчувствования", разработанной Теодором Липпсом, анимус имитирует текст.
				li.partners__item
					.partners__desc
						.partners__name Название партнера
						| Диахронический подход, на первый взгляд, многопланово образует художественный вкус. Канон изящно дает архетип, что-то подобное можно встретить в работах Ауэрбаха и Тандлера. Согласно теории "вчувствования", разработанной Теодором Липпсом, анимус имитирует текст.
					.partners__logo
						| ЛОГОТИП ПАРТНЕРА
				li.partners__item
					.partners__logo
						| ЛОГОТИП ПАРТНЕРА
					.partners__desc
						.partners__name Название партнера
						| Диахронический подход, на первый взгляд, многопланово образует художественный вкус. Канон изящно дает архетип, что-то подобное можно встретить в работах Ауэрбаха и Тандлера. Согласно теории "вчувствования", разработанной Теодором Липпсом, анимус имитирует текст.
		.partners__info
			.partners__terms ВЫ МОЖЕТЕ ОЗНАКОМИТЬСЯ С ПОДРОБНЫМИ УСЛОВИЯМИ ПАРТНЕРСТВА
			.partners__contacts
				.partners__email poshta@mail.ru
					img(src='/assets/img/icons/mail.png').partners__email-icon
				a(href='tel: +7 (999) 901 99 01').partners__tel +7 (999) 901 99 01
					img(src='/assets/img/icons/phone.png').partners__phone-icon



