// Страница "Карьера", секция "Карьера" ========================= //

section.career
	.career__banner
		.career__title
			h1.title--subtitle Карьера
				.title__icon
				span.subtitle Наши вакансии
	.container
		.career__desc
			p.career__desc-text Диахронический подход, на первый взгляд, многопланово образует художественный вкус. Канон изящно дает архетип, что-то подобное можно встретить в работах Ауэрбаха и Тандлера. Согласно теории "вчувствования", разработанной Теодором Липпсом, анимус имитирует текст. Теория вчувствования свободна. Выявляя устойчивые архетипы на примере художественного творчества, можно сказать, что одиночество иллюстрирует определенный фактор.

