// Страница "Карьера", секция "Вакансии" ========================= //

.vacancies
	.container
		.vacancies__title
			h2.title--subtitle.title--color Активные вакансии
				.title__icon
		ul.vacancies__list
			li.vacancies__item
				a(href='/vacancy.html').vacancies__link Менеджер по продажам
			li.vacancies__item
				a(href='#').vacancies__link Мастер по пошиву
			li.vacancies__item
				a(href='#').vacancies__link Название вакансии
			li.vacancies__item
				a(href='#').vacancies__link Название вакансии
			li.vacancies__item
				a(href='#').vacancies__link Название вакансии
			li.vacancies__item
				a(href='#').vacancies__link Название вакансии
