// Страница "Кожа", секция "Кожа" ========================= //

.leather
	.leather__title
		h1.title Кожа
		.title__icon
	.leather__description
		p.leather__text Диахронический подход, на первый взгляд, многопланово образует художественный вкус. Канон изящно дает архетип, что-то подобное можно встретить в работах Ауэрбаха и Тандлера. Согласно теории "вчувствования", разработанной Теодором Липпсом, анимус имитирует текст. Теория вчувствования свободна. Выявляя устойчивые архетипы на примере художественного творчества, можно сказать, что одиночество иллюстрирует определенный фактор.
