// Страница "Главная" секция "Преимущества" ========================= //

.features
	.features__technology.features__item
		.features__dark-box
			a(href='./technology.html').button.button--features -ТЕХНОЛОГИИ- #[br] BESPOKE #[br] & MTM & MTO
				.button--features--border
	.features__service.features__item
		.features__dark-box
			a(href='./designer.html').button.button--features -СЕРВИС- #[br] ВСТРЕЧА С #[br] ДИЗАЙНЕРОМ
				.button--features--border
	.features__collection.features__item
		.features__dark-box
			a(href='./catalog.html').button.button--features -БУТИК- #[br] КОЛЛЕКЦИЯ
				.button--features--border
	.features__design.features__item
		.features__dark-box
			a(href='./manufacture.html').button.button--features -ТЕХНОЛОГИИ- #[br] ИЗГОТОВЛЕНИЕ
				.button--features--border
	.features__request.features__item
		.features__dark-box
			a(href='./request.html').button.button--features -ТЕХНОЛОГИИ- #[br] ЗАЯВКА
				.button--features--border
	.features__cloth.features__item
		.features__dark-box
			a(href='./textile.html').button.button--features -ТЕХНОЛОГИИ- #[br] ТКАНИ
				.button--features--border
	.features__leather.features__item
		.features__dark-box
			a(href='./leather.html').button.button--features -ТЕХНОЛОГИИ- #[br] КОЖА
				.button--features--border
	.features__personal.features__item
		.features__dark-box
			a(href='./personal-area.html').button.button--features -СЕРВИС- #[br] ЛИЧНЫЙ #[br] КАБИНЕТ
				.button--features--border
	.features__contacts.features__item
		.features__dark-box
			a(href='./contacts.html').button.button--features -КОНТАКТЫ-
				.button--features--border
