.footer
	.container
		.footer__content
			.footer__logo
				span.logo LOGO
			.footer__menu
				include footer-nav
	.container
		.footer__sub-footer
			.footer__box
			.footer__year “Магазин” 2020
			.footer__phone
				a.contacts__phone(href='tel:8-123-456-78-90') 8-123-456-78-90



