nav.footer-nav
	ul.footer-nav__list
		li.footer-nav__item
			a.footer-nav__link(href='#') O PERFECTO CASA
		li.footer-nav__item
			a.footer-nav__link(href='/textile.html') ТКАНИ
		li.footer-nav__item
			a.footer-nav__link(href='#') ДИЗАЙНЕРАМ
		li.footer-nav__item
			a.footer-nav__link(href='#') НАШИ САЛОНЫ
		li.footer-nav__item
			a.footer-nav__link(href='/designer.html') ВЫЗОВ ДИЗАЙНЕРА
		li.footer-nav__item
			a.footer-nav__link(href='/leather.html') КОЖА
		li.footer-nav__item
			a.footer-nav__link(href='/cooperation.html') B2B ПАРТНЕРАМ
		li.footer-nav__item
			a.footer-nav__link(href='/contacts.html') КОНТАКТЫ
		li.footer-nav__item
			a.footer-nav__link(href='/technology.html') BESPOKE & MTM & MTO
		li.footer-nav__item
			a.footer-nav__link(href='/request.html') ЗАЯВКА
		li.footer-nav__item
			a.footer-nav__link(href='/reviews.html') ОТЗЫВЫ КЛИЕНТОВ
		li.footer-nav__item
			a.footer-nav__link(href='/offer.html') ОФЕРТА
		li.footer-nav__item
			a.footer-nav__link(href='/catalog.html') КАТАЛОГ
		li.footer-nav__item
			a.footer-nav__link(href='/career.html') КАРЬЕРА
		li.footer-nav__item
			a.footer-nav__link(href='/special.html') СПЕЦПРЕДЛОЖЕНИЯ
		li.footer-nav__item
			include social
