nav.footer-nav
	ul.footer-nav__list
		li.footer-nav__item
			a.footer-nav__link(href='#') O PERFECTO CASA
		li.footer-nav__item
			a.footer-nav__link(href='/textile.html') ТКАНИ
		li.footer-nav__item
			a.footer-nav__link(href='#') ДИЗАЙНЕРАМ
		li.footer-nav__item
			a.footer-nav__link(href='#') НАШИ САЛОНЫ
		li.footer-nav__item
			a.footer-nav__link(href='/designer.html') ВЫЗОВ ДИЗАЙНЕРА
		li.footer-nav__item
			a.footer-nav__link(href='/leather.html') КОЖА
		li.footer-nav__item
			a.footer-nav__link(href='#') B2B ПАРТНЕРАМ
		li.footer-nav__item
			a.footer-nav__link(href='#') КОНТАКТЫ
		li.footer-nav__item
			a.footer-nav__link(href='#') BESPOKE & MTM & MTO
		li.footer-nav__item
			a.footer-nav__link(href='#') ЗАЯВКА
		li.footer-nav__item
			a.footer-nav__link(href='#') ОТЗЫВЫ КЛИЕНТОВ
		li.footer-nav__item
			a.footer-nav__link(href='/offer.html') ОФЕРТА
		li.footer-nav__item
			a.footer-nav__link(href='#') КАТАЛОГ
		li.footer-nav__item
			a.footer-nav__link(href='/career.html') КАРЬЕРА
		li.footer-nav__item
			a.footer-nav__link(href='#') СПЕЦПРЕДЛОЖЕНИЯ
		li.footer-nav__item
			include social
