.footer
	.container
		.footer__content
			.footer__logo
				img.logo(src='/assets/img/icons/logo.svg' alt='Логотип компании')
			.footer__menu
				include footer-nav
	.container
		.footer__sub-footer
			.footer__logo-sub
				span.logo LOGO
			.footer__year Perfecto Casa #[br] 2011-2020
			.footer__phone
				a.footer__phone-link(href='tel:8-123-456-78-90') 8-123-456-78-90



