.header
  .container
    .header__content
      .header__logo
        img.logo(src='/assets/img/icons/logo.svg' alt='Логотип компании')
      .header__nav
        include ../modules/nav
      .header__contacts
      .header__hamburger
        include ../modules/hamburger
