.overlay
	.nav
		ul.nav__list
			li.nav__item
				a(href='./about.html').nav__link О НАС
				ul.nav__sub-nav-list
					li.nav__sub-nav-item
						a(href='./about.html').nav__sub-nav-link Миссия
					li.nav__sub-nav-item
						a(href='./about.html').nav__sub-nav-link Факты
					li.nav__sub-nav-item
						a(href='./about.html').nav__sub-nav-link Будущее
			li.nav__item
				a(href='./technology.html').nav__link ТЕХНОЛОГИИ
				ul.nav__sub-nav-list
					li.nav__sub-nav-item
						a(href='./technology.html').nav__sub-nav-link Bespoke & MTM & MTO
					li.nav__sub-nav-item
						a(href='./manufacture.html').nav__sub-nav-link Изготовление и пошив
					li.nav__sub-nav-item
						a(href='./textile.html').nav__sub-nav-link Ткани
					li.nav__sub-nav-item
						a(href='./leather.html').nav__sub-nav-link Кожа
			li.nav__item
				a(href='#').nav__link КОЛЛЕКЦИЯ
				ul.nav__sub-nav-list
					li.nav__sub-nav-item
						a(href='./catalog.html').nav__sub-nav-link Современный стиль
					li.nav__sub-nav-item
						a.nav__sub-nav-link Традиционный стиль
					li.nav__sub-nav-item
						a.nav__sub-nav-link Классический стиль
					li.nav__sub-nav-item
						a.nav__sub-nav-link Прямые диваны
					li.nav__sub-nav-item
						a.nav__sub-nav-link Диваны с оттоманкой
					li.nav__sub-nav-item
						a.nav__sub-nav-link Угловые диваны
					li.nav__sub-nav-item
						a.nav__sub-nav-link Диваны-Холлы
					li.nav__sub-nav-item
						a.nav__sub-nav-link Кресла
					li.nav__sub-nav-item
						a(href='./special.html').nav__sub-nav-link Спецпредложения
			li.nav__item
				a(href='./designer.html').nav__link ВСТРЕЧА С ДИЗАЙНЕРОМ
			li.nav__item
				a(href='./request.html').nav__link ЗАЯВКА
			li.nav__item
				a(href='./partners.html').nav__link ПАРТНЕРЫ
			li.nav__item
				a(href='./contacts.html').nav__link КОНТАКТЫ
				ul.nav__sub-nav-list
					li.nav__sub-nav-item
						a(href='./contacts.html').nav__sub-nav-link Салоны
					li.nav__sub-nav-item
						a(href='#').nav__sub-nav-link Дизайнерам
					li.nav__sub-nav-item
						a(href='./career.html').nav__sub-nav-link Работа у нас
