// Кнопки "Сообщение", "Заявка" ========== //

.page-controls
	a(href='#').page-controls__message
		img(src='/assets/img/message-btn.svg')
	a(href='./request.html').page-controls__request
		img(src='/assets/img/request-btn.svg')
