.single
	.single__content
		.single__title
			h1.title Производство мебели #[br] по индивидуальным проектам
		.single__button
			button.button.button--single
				img(src='/assets/img/icons/arrowsvg.svg')


