// "Слайдер" ========================= //

.slider
	.slider__element
		.slider__row
			img(src="/assets/img/slider/2.png")
			img(src="/assets/img/slider/3.png")
			img(src="/assets/img/slider/4.png")
		.slider__box
			img(src="/assets/img/slider/1.png")
			.slider__controls
				button.button.slider__button--next
				button.button.slider__button--prev

