// "Социальные сети" ========================= //

.socials
	ul.socials__list
		li.socials__item
			a.socials__link(href='#')
				.socials__circle
					img(src='/assets/img/icons/odnok.svg')
		li.socials__item
			a.socials__link(href='#')
				.socials__circle
					img(src='/assets/img/icons/odnok.svg')
		li.socials__item
			a.socials__link(href='#')
				.socials__circle
					img(src='/assets/img/icons/odnok.svg')
		li.socials__item
			a.socials__link(href='#')
				.socials__circle
					img(src='/assets/img/icons/odnok.svg')
