doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title О Нас
		meta(name="description" content="Магазин мебели")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
	body
		// Страница "О Нас" ========================= //
		.wrapper
			include ../includes/modules/header
			include ../includes/modules/about/about-description
			include ../includes/modules/about/production
			include ../includes/modules/about/projects
			include ../includes/modules/about/materials
			include ../includes/modules/about/stages
			include ../includes/modules/about/feedback
			include ../includes/modules/footer
