// Страница "Встреча с дизайнером" ========================= //

doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title Встреча с дизайнером
		meta(name="description" content="Магазин мебели")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
	body
		.wrapper
			include ../../pug/includes/modules/header
			include ../../pug/includes/modules/designer/designer-single
			include ../../pug/includes/modules/designer/designer-stages
			include ../../pug/includes/modules/footer
