doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title project
    meta(name="description" content="Магазин мебели")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    .wrapper
      include ../../pug/includes/modules/header
      include ../../pug/includes/modules/single
      include ../../pug/includes/modules/features
      include ../../pug/includes/modules/footer
      include ../../pug/includes/modules/page-controls




