include ../utils/mixins

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title project
    meta(name="description", content=description)
    block head
  body
    .wrapper
      include ../../pug/includes/modules/header
      include ../../pug/includes/modules/single
      include ../../pug/includes/modules/features
      include ../../pug/includes/modules/footer




