// Страница "Изготовление" ========================= //

doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title Изготовление
		meta(name="description" content="Магазин мебели")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
	body
		.wrapper
			include ../includes/modules/nav
			include ../includes/modules/header
			include ../includes/modules/manufacture/manufacture-single
			include ../includes/modules/manufacture/process
			include ../includes/modules/footer
			include ../includes/modules/page-controls

