// Страница "Личный кабинет" ========================= //

doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title Личный кабинет
		meta(name="description" content="Магазин мебели")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
	body
		.wrapper
			include ../includes/modules/nav
			include ../includes/modules/header
			include ../includes/modules/personal-area/personal-area
			include ../includes/modules/page-controls
			include ../includes/modules/footer
