// Страница "Ткани" ========================= //

doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title Ткани
		meta(name="description" content="Магазин мебели")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
	body
		.wrapper
			include ../includes/modules/header
			include ../includes/modules/textile/textile
			include ../includes/modules/footer
			include ../../pug/includes/modules/page-controls

