html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;

  @include desktop {
    font-size: 16px;
  }
  @include laptop {
    font-size: 15px;
  }
  @include tablet {
    font-size: 14px;
  }
  @include phone {
    font-size: 13px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #574F46
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section, .section {
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container {
  max-width: 95%;
  width: 1249px;
  position: relative;
  margin: 0 auto;
}

.button {
  font-family: $mainFont;
  color: $secondFontColor;
  cursor: pointer;
  background-color: transparent;
  z-index: 10;

  &--single {
    width: rem(73);
    height: rem(73);
    border: 2px solid $mainFontColor;
    border-radius: 50%;
    background-color: transparent;
  }

  &--features {
    color: $mainFontColor;
    position: relative;
    padding: 0 rem(115);
    background: rgba(87, 79, 70, 0.8);
    margin: rem(10);
    text-align: center;
    height: rem(120);
    display: flex;
    align-items: center;
    font-size: $mainFontSize;

    &--border {
      border: 1px solid $neutral-secondary;
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
    }

    &:after {
      content: '';
      display: block;
      width: rem(80);
      height: 2px;
      border-radius: 2px;
      background-color: $mainFontColor;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      margin-left: rem(20);

    }

    &:before {
      content: '';
      display: block;
      width: rem(80);
      height: 2px;
      border-radius: 2px;
      background-color: $mainFontColor;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      margin-right: rem(20);
    }
  }
}

.title {
  font-size: rem(30);
  position: relative;
  line-height: rem(60);

  &:before {
    content: '';
    display: block;
    width: rem(311);
    height: 2px;
    border-radius: 2px;
    background-color: $mainFontColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $secondFontColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
