html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;

  @include desktop {
    font-size: 16px;
  }
  @include laptop {
    font-size: 15px;
  }
  @include tablet {
    font-size: 14px;
  }
  @include phone {
    font-size: 13px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #574F46
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section, .section {
  position: relative;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container {
  max-width: 95%;
  width: 1249px;
  position: relative;
  margin: 0 auto;
}

.button {
  font-family: $mainFont;
  color: $secondFontColor;
  cursor: pointer;
  background-color: transparent;
  z-index: 10;

  &--single {
    width: rem(53);
    height: rem(53);
    border: 2px solid $mainFontColor;
    border-radius: 50%;
    background-color: transparent;
  }

  &--single-icon {
    width: 21px;
  }

  &--features {
    color: $mainFontColor;
    position: relative;
    padding: 0 rem(115);
    background: rgba(87, 79, 70, 0.8);
    margin: rem(10);
    text-align: center;
    height: rem(120);
    display: flex;
    align-items: center;
    font-size: $mainFontSize;

    &--border {
      border: 1px solid $neutral-secondary;
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
    }

    &:after {
      content: '';
      display: block;
      width: rem(80);
      height: 2px;
      border-radius: 2px;
      background-color: $mainFontColor;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      margin-left: rem(20);

    }

    &:before {
      content: '';
      display: block;
      width: rem(80);
      height: 2px;
      border-radius: 2px;
      background-color: $mainFontColor;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      margin-right: rem(20);
    }
  }

  // second button

  &--second {
    padding: 12px 50px;
    color: #000000;
    background: $secondFontColor;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
}

.title {
  font-size: rem(30);
  position: relative;
  line-height: rem(30);
  text-align: center;

  &--subtitle {
    font-size: rem(30);
    text-align: center;
    line-height: 30px;
    position: relative;

    &--number {
      font-size: 30px;
      margin-top: 15px;
      color: #000000;
      text-align: center;
      display: block;

      &--color--white {
        color: $mainFontColor;
      }
    }

    //&:before {
    //  content: '';
    //  display: block;
    //  width: rem(311);
    //  height: 2px;
    //  border-radius: 2px;
    //  background-color: #E5E5E5;
    //  position: absolute;
    //  bottom: -20%;
    //  left: 50%;
    //  transform: translate(-50%, 25%);
    //}
    //
    //&:after {
    //  content: '';
    //  display: block;
    //  width: 10px;
    //  height: 10px;
    //  border-radius: 50%;
    //  background-color: $secondFontColor;
    //  position: absolute;
    //  bottom: -25%;
    //  left: 50%;
    //  transform: translate(-50%, 25%);
    //}
  }

  &--subtitle span {
    font-size: rem(20);
    display: block;
  }

  &--color {
    &--black {
      color: #000000;
    }
  }

  &--about span {
    font-size: 24px;
  }

  &--about {
    font-style: italic;
    font-size: 48px;
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 85px;
      height: 2px;
      background-color: $mainFontColor;
      position: absolute;
      left: -40%;
      top: 25%;
      transform: translateY(-50%);
    }

    &:before {
      content: '';
      display: block;
      width: 85px;
      height: 2px;
      background-color: $mainFontColor;
      position: absolute;
      right: -40%;
      top: 25%;
      transform: translateY(-50%);
    }
  }

  //&:before {
  //  content: '';
  //  display: block;
  //  width: rem(311);
  //  height: 2px;
  //  border-radius: 2px;
  //  background-color: #E5E5E5;
  //  position: absolute;
  //  top: 50%;
  //  left: 50%;
  //  transform: translate(-50%, -50%);
  //}
  //
  //&:after {
  //  content: '';
  //  display: block;
  //  width: 10px;
  //  height: 10px;
  //  border-radius: 50%;
  //  background-color: $secondFontColor;
  //  position: absolute;
  //  top: 50%;
  //  left: 50%;
  //  transform: translate(-50%, -50%);
  //}
}

.subtitle {
  margin-top: 22px;
  font-size: 20px;
}


/////

.title__icon {

  content: '';
  display: block;
  width: rem(311);
  height: 2px;
  border-radius: 2px;
  background-color: #E5E5E5;
  bottom: -15px;
  position: relative;
  margin: 0 auto;

  //&:before {
  //  content: '';
  //  display: block;
  //  width: rem(311);
  //  height: 2px;
  //  border-radius: 2px;
  //  background-color: #E5E5E5;
  //  position: absolute;
  //  left: 50%;
  //  transform: translate(-50%, 25%);
  //  bottom: -15px;
  //}

  &:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $secondFontColor;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 25%);
    bottom: -2px;
  }
}


.logo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
