// Fonts
$mainFont                : 'Alegreya', Helvetica, Arial, sans-serif;

// Size / Colors
$mainFontColor           : #FFFFFF;
$secondFontColor         : #D29965;
$neutral-secondary       : #909399;
$mainFontSize            : 18px;
$mainFontWeight          : 500;
$mainLineHeight          : 1.4;

// Resolutions
$phone                   : 480px;
$tablet                  : 768px;
$laptop                  : 1024px;
$desktop                 : 1200px;



