// Страница "О Нас", секция "Описание" ========================= //
section.about-description
	.about-description__title
		h1.title--about Perfecto Casa #[br]
			span Ателье мебели
	.about-description__description
		p.about-description__text
			| Диахронический подход, на первый взгляд, многопланово образует художественный вкус. Канон изящно дает архетип, что-то подобное можно встретить в работах Ауэрбаха и Тандлера. Согласно теории "вчувствования", разработанной Теодором Липпсом, анимус имитирует текст. Теория вчувствования свободна. Выявляя устойчивые архетипы на примере художественного творчества, можно сказать, что одиночество иллюстрирует определенный фактор.
