// Страница "О Нас", секция "Наши Контакты" ========================= //

section.feedback
	.container
		h2.title--subtitle.title--color--black Наши контакты
			.title__icon
		span.title--subtitle--number 5
		include ./form

