// Страница "О Нас", секция "Материалы" ========================= //

section.materials
	.container
		.materials__title
			h2.title--subtitle.title--color--black Подберем материалы и структуры #[br]
				span по желанию и бюджету заказчика #[br]
				.title__icon
			span.title--subtitle--number 3
		.materials__content
			ul.materials__list
				li.materials__item
					img(src='/assets/img/image11.png').materials__pic
					.materials__desc
						.materials__desc-title Каркас
						.materials__desc-text Разнообразный и богатый опыт начало повседневной работы по формированию позиции
				li.materials__item
					img(src='/assets/img/image12.png').materials__pic
					.materials__desc
						.materials__desc-title Материал
						.materials__desc-text Разнообразный и богатый опыт начало повседневной работы по формированию позиции
				li.materials__item
					img(src='/assets/img/image13.png').materials__pic
					.materials__desc
						.materials__desc-title Фурнитура
						.materials__desc-text Разнообразный и богатый опыт начало повседневной работы по формированию позиции
				li.materials__item
					img(src='/assets/img/image14.png').materials__pic
					.materials__desc
						.materials__desc-title Готово
						.materials__desc-text Разнообразный и богатый опыт начало повседневной работы по формированию позиции
