// Секция "Производим изделия" ========================= //

section.production
	.production__title
		h2.title--subtitle.title--color--black Производим изделия #[br]
			span согласно дизайнерским чертежам #[br]
			.title__icon
		span.title--subtitle--number 1
	.production__content
		include ../slider

