// Страница "О Нас", секция "Реализуем проекты" ========================= //

section.projects
	.projects__title
		h2.title--subtitle Реализуем проекты
			.title__icon
		span.title--subtitle--number.title--subtitle--number--color--white 2
	.projects__content
		.projects__column
			.projects__box-title
				img(src='/assets/img/icons/meb1.png').projects__icon
				.projects__name Кресла
			ul.projects__list
				li.projects__item 1 Вид кресла
					.projects__text Краткое описание. Значимость этих настолько очевидна, что начало повседневной
				li.projects__item 2 Вид кресла
					.projects__text Краткое описание. Значимость этих настолько очевидна, что начало повседневной
				li.projects__item 3 Вид кресла
					.projects__text Краткое описание. Значимость этих настолько очевидна, что начало повседневной
		.projects__column
			.projects__box-title
				img(src='/assets/img/icons/meb2.png').projects__icon
				.projects__name Диваны
			ul.projects__list
				li.projects__item 1 Вид дивана
					.projects__text Краткое описание. Значимость этих настолько очевидна, что начало повседневной
				li.projects__item 2 Вид дивана
					.projects__text Краткое описание. Значимость этих настолько очевидна, что начало повседневной
				li.projects__item 3 Вид дивана
					.projects__text Краткое описание. Значимость этих настолько очевидна, что начало повседневной
	.projects__controls
		button.button--second Рассчитать стоимость
