// Страница "О Нас", секция "Этапы работ" ========================= //

section.stages
	.container
		h2.title--subtitle Этапы работ
			.title__icon
		span.title--subtitle--number.title--subtitle--number--color--white 4

