// Страница "О Нас", секция "Этапы работ" ========================= //

section.stages
	.container
		h2.title--subtitle Этапы работ
			.title__icon
		span.title--subtitle--number.title--subtitle--number--color--white 4
		.stages__list
			.stages__item 01
			.stages__desc
				img(src='/assets/img/icons/-01.svg').stages__icon
				.stages__text Проект #[br] дизайнера
			.stages__item 02
				.stages__desc
					img(src='/assets/img/icons/-02.svg').stages__icon
					.stages__text Заявка на расчет
			.stages__item 03
				.stages__desc
					img(src='/assets/img/icons/-03.svg').stages__icon
					.stages__text Формирование коммерческого предложения
					img(src='/assets/img/icons/line.svg').stages__line1
					img(src='/assets/img/icons/line.svg').stages__line2
		.stages__list-center
			.stages__item.stages__item-center 05
			.stages__desc
				img(src='/assets/img/icons/-05.svg').stages__icon
				.stages__text Производство
			.stages__item-none.stages__item-center 04
				.stages__desc
					img(src='/assets/img/icons/-04.svg').stages__icon
					.stages__text Сборка и установка
		.stages__list-down
			.stages__item.stages__item-down 06
			.stages__desc
				img(src='/assets/img/icons/-06.svg').stages__icon
				.stages__text Производство
			.stages__item.stages__item-down 07
				.stages__desc
					img(src='/assets/img/icons/-07.svg').stages__icon
					.stages__text Сборка и установка
			.stages__item.stages__item-down 08
				.stages__desc
					img(src='/assets/img/icons/-08.svg').stages__icon
					.stages__text Готовый продукт




