.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__phone {
    font-family: $mainFont;
    font-size: rem(24);
    color: $secondFontColor;
  }

  &__button {
    font-size: rem(14);
    border: 1px solid $secondFontColor;
    padding: rem(6) rem(23);
  }
}
