.features {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(24, 5vw);
  grid-gap: 10px;

  @include laptop {
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(31, 5vw);
  }

  @include phone {
    grid-template-rows: repeat(72, 5vw);
  }

  &__dark-box {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    @include tablet {
      justify-content: center;
    }
  }

  &__item {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__technology {
    background-image: url("/assets/img/image3.png");
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7;

    @include laptop {
      grid-column-start: 1;
      grid-column-end: 8;
    }

    @include phone {
      grid-column-end: 16;
      grid-row-end: 9;
    }
  }

  &__service {
    background-image: url("/assets/img/image2.png");
    grid-column-start: 7;
    grid-column-end: 16;
    grid-row-start: 1;
    grid-row-end: 7;

    @include laptop {
      grid-column-start: 8;
      grid-column-end: 16;
    }

    @include phone {
      grid-row-start: 9;
      grid-row-end: 17;
      grid-column-start: 1;
      grid-column-end: 16;
    }
  }

  &__collection {
    background-image: url("/assets/img/image4.png");
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 13;

    @include laptop {
      grid-column-start: 1;
      grid-column-end: 8;
    }

    @include phone {
      grid-column-end: 16;
      grid-row-start: 17;
      grid-row-end: 25;
    }
  }

  &__design {
    background-image: url("/assets/img/image5.png");
    grid-column-start: 10;
    grid-column-end: 16;
    grid-row-start: 7;
    grid-row-end: 13;

    @include laptop {
      grid-column-start: 8;
      grid-column-end: 16;
    }

    @include phone {
      grid-column-start: 1;
      grid-column-end: 16;
      grid-row-start: 25;
      grid-row-end: 33;
    }
  }

  &__request {
    background-image: url("/assets/img/image6.png");
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 13;
    grid-row-end: 19;

    @include laptop {
      grid-column-end: 8;
    }

    @include phone {
      grid-row-start: 33;
      grid-row-end: 41;
      grid-column-start: 1;
      grid-column-end: 16;
    }
  }

  &__cloth {
    background-image: url("/assets/img/image7.png");
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 13;
    grid-row-end: 19;

    @include laptop {
      grid-column-start: 8;
      grid-column-end: 16;
    }

    @include phone {
      grid-row-start: 41;
      grid-row-end: 49;
      grid-column-start: 1;
    }
  }

  &__leather {
    background-image: url("/assets/img/image8.png");
    grid-column-start: 11;
    grid-column-end: 16;
    grid-row-start: 13;
    grid-row-end: 19;

    @include laptop {
      grid-column-start: 1;
      grid-column-end: 8;
      grid-row-start: 19;
      grid-row-end: 25;
    }

    @include phone {
      grid-row-start: 49;
      grid-row-end: 57;
      grid-column-start: 1;
      grid-column-end: 16;
    }
  }

  &__personal {
    background-image: url("/assets/img/image9.png");
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 19;
    grid-row-end: 25;

    @include laptop {
      grid-column-start: 8;
      grid-column-end: 16;
    }

    @include phone {
      grid-row-start: 57;
      grid-row-end: 65;
      grid-column-start: 1;
      grid-column-end: 16;
    }
  }

  &__contacts {
    background-image: url("/assets/img/image10.png");
    grid-column-start: 8;
    grid-column-end: 16;
    grid-row-start: 19;
    grid-row-end: 25;

    @include laptop {
      grid-column-start: 1;
      grid-column-end: 16;
      grid-row-start: 25;
      grid-row-end: 32;
    }

    @include phone {
      grid-row-start: 65;
      grid-row-end: 74;
    }
  }
}



