.footer {
  height: 100%;

  @include tablet {
    font-size: 16px;
  }

  &__content {
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  &__logo {
    font-size: rem(24);
    color: $mainFontColor;

    @include laptop {
      display: none;
    }
  }

  &__sub-footer {
    border-top: 1px solid #606266;
    display: flex;
    justify-content: space-between;
    padding: 21px 0;
  }

  &__logo-sub {
    opacity: 0;

    @include laptop {
      opacity: 1;
    }
  }

  &__year {
    color: $secondFontColor;
    text-align: center;
  }

  &__phone-link {
    color: $secondFontColor;
  }
}
