.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(30);
  height: rem(30);
  cursor: pointer;
  position: relative;

  &__menu-icon {
    height: 4px;
    width: rem(30);
    background-color: $secondFontColor;
    position: relative;
    cursor: pointer;
    border-radius: 2px;

    &:before {
      content: "";
      height: 4px;
      width: rem(30);
      position: absolute;
      background-color: $secondFontColor;
      bottom: 8px;
      border-radius: 2px;
    }

    &:after {
      content: "";
      height: 4px;
      width: rem(30);
      position: absolute;
      background-color: $secondFontColor;
      top: 8px;
      border-radius: 2px;
    }
  }
}
