.header {
  background-color: #574F46;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  &__logo {
    font-size: rem(24);
    color: $mainFontColor;

    @include laptop {
      flex: 1;
    }
  }

  &__nav {
    @include laptop {
      display: none;
    }
  }

  &__lang {

  }

  &__contacts {
    color: $secondFontColor;
  }

  &__hamburger {
    display: none;
    margin-left: rem(50);

    @include laptop {
      display: block;
    }
  }

}
