// "Социальные сети" ========================= //

.socials {

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__circle {
    width: 30px;
    height: 30px;
    background-color: $secondFontColor;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


