// Страница "Встреча с дизайнером", секция "Встреча с дизайнером" ========================= //

section.designer-single
	.designer-single__title
		h1.title--subtitle Встреча с дизайнером
			.title__icon
			span.subtitle Мы поможем Вам определиться с выбором
	.designer-single__form
		include ./designer-form

