// Страница "Вызов дизайнера", секция "Оставьте заявку (ФОРМА)" ========================= //

.designer-form
	.designer-form__before
		.designer-form__box
			.designer-form__title
				.title.title--color--black Оставьте заявку
				.title__icon
			form.designer-form__form
				.designer-form__form-title Наш сотрудник свяжется с Вами, чтобы оформить заявку
				.designer-form__label
					.designer-form__name Имя
					input(type='text' name='name' required).designer-form__input
				.designer-form__label
					.designer-form__name Фамилия
					input(type='text' name='last-name' required).designer-form__input
				a.designer-form__link Пользовательское соглашение
				.designer-form__button-box
					button.designer-form__button.button--second Отправить
