// Страница "Встреча с дизайнером", секция "Этапы" ========================= //

section.designer-stages
	.container
		.designer-stages__title
			h1.title--subtitle Этапы
				.title__icon
		.designer-stages__stages
			.designer-stages__item-left
				.designer-stages__border
					.designer-stages__name Название этапа 1
					.designer-stages__icon
						img(src='/assets/img/icons/01.svg')
					.designer-stages__box1
						.designer-stages__text Очевидно, что аллегро фактурно. Как было показано выше, поп-индустрия многопланово диссонирует нечетный сет. Трехчастная фактурная форма, в том числе, использует паузный голос. Ритмоединица возможна. Действительно, септаккорд использует позиционный микрохроматический интервал. Как было показано выше, крещендирующее хождение иллюстрирует изоритмический мнимотакт.

			.designer-stages__item-right
				.designer-stages__border-right
					.designer-stages__name Название этапа 2
					.designer-stages__icon-right
						img(src='/assets/img/icons/02.svg')
					.designer-stages__box2
						.designer-stages__text Очевидно, что аллегро фактурно. Как было показано выше, поп-индустрия многопланово диссонирует нечетный сет. Трехчастная фактурная форма, в том числе, использует паузный голос. Ритмоединица возможна. Действительно, септаккорд использует позиционный микрохроматический интервал. Как было показано выше, крещендирующее хождение иллюстрирует изоритмический мнимотакт.

			.designer-stages__item-left
				.designer-stages__border
					.designer-stages__name Название этапа 3
					.designer-stages__icon
						img(src='/assets/img/icons/03.svg')
					.designer-stages__box3
						.designer-stages__text Очевидно, что аллегро фактурно. Как было показано выше, поп-индустрия многопланово диссонирует нечетный сет. Трехчастная фактурная форма, в том числе, использует паузный голос. Ритмоединица возможна. Действительно, септаккорд использует позиционный микрохроматический интервал. Как было показано выше, крещендирующее хождение иллюстрирует изоритмический мнимотакт.

			.designer-stages__item-center
				.designer-stages__border-center
					.designer-stages__name Завершение
					.designer-stages__button-box
						button.designer-stages__button.button--second Оставить заявку
					.designer-stages__box4
						.designer-stages__text Очевидно, что аллегро фактурно. Как было показано выше, поп-индустрия многопланово диссонирует нечетный сет. Трехчастная фактурная форма, в том числе, использует паузный голос. Ритмоединица возможна. Действительно, септаккорд использует позиционный микрохроматический интервал. Как было показано выше, крещендирующее хождение иллюстрирует изоритмический мнимотакт.
