// "Страница товара" "Отзывы" ========================= //
.product-reviews
	ul.product-reviews__list
		li.product-reviews__item
			.product-reviews__raiting
				include ../raiting/raiting
			.product-reviews__block
				.product-reviews__name Оксана Николаевна
					.product-reviews__text
						| Комбинаторное приращение приводит деструктивный симулякр. Декодирование приводит резкий лирический субъект. Поэт инстинктивно чувствовал преимущества реального устного исполнения тех стихов, в которых парономазия последовательно дает поэтический палимпсест...
					.product-reviews__photo
						img(src='/assets/img/rev1.png').product-reviews__photo-pic
						img(src='/assets/img/rev2.png').product-reviews__photo-pic
						img(src='/assets/img/rev3.png').product-reviews__photo-pic
		li.product-reviews__item
			.product-reviews__raiting
				include ../raiting/raiting
			.product-reviews__block
				.product-reviews__name Виктор Сергеевич
					.product-reviews__text
						| Комбинаторное приращение приводит деструктивный симулякр. Декодирование приводит резкий лирический субъект. Поэт инстинктивно чувствовал преимущества реального устного исполнения тех стихов, в которых парономазия последовательно дает поэтический палимпсест...
					.product-reviews__photo
		li.product-reviews__item
			.product-reviews__raiting
				include ../raiting/raiting
			.product-reviews__block
				.product-reviews__name Николай
					.product-reviews__text
						| Комбинаторное приращение приводит деструктивный симулякр. Декодирование приводит резкий лирический субъект.
					.product-reviews__photo
