ul.product-nav
	li.product-nav__item.product-nav__item--active
		button(type='button').button.product-nav__button Описание
	li.product-nav__item
		button(type='button').button.product-nav__button Информация
	li.product-nav__item
		button(type='button').button.product-nav__button Отзывы (3)
