// "Страница товара" "Материалы изделия" ========================= //

.product-materials
	ul.product-materials__list
		li.product-materials__item
			.product-materials__pic
				img(src='/assets/img/mt1.png').product-materials__img
			.product-materials__desc
				.product-materials__title Материал обивки: Название
				.product-materials__text Огненный пояс ослабляет перенос. Межледниковье, либо из самой плиты, либо из астеносферы.
		li.product-materials__item
			.product-materials__pic
				img(src='/assets/img/mt2.png').product-materials__img
			.product-materials__desc
				.product-materials__title Материал обивки: Название
				.product-materials__text Огненный пояс ослабляет перенос. Межледниковье, либо из самой плиты, либо из астеносферы.
		li.product-materials__item
			.product-materials__pic
				img(src='/assets/img/mt3.png').product-materials__img
			.product-materials__desc
				.product-materials__title Материал обивки: Название
				.product-materials__text Огненный пояс ослабляет перенос. Межледниковье, либо из самой плиты, либо из астеносферы.
