// "Страница товара" ========================= //

section.product
	.container
		h1.title--subtitle.title--color--black Диван Белфаст
		.title__icon
		.product__box
			.product__slider
				include product-slider
			.product__form
				include product-form
		.product__menu
			include product-nav
		.product__description
			.product__table
				include product-table
			.product__materials
				include product-materials
		.product__information
			include product-information
		.product__reviews
			include product-reviews
