// "Страница товара", "Слайдер" ========================= //

.product-slider
	.product-slider__view
		.product-slider__controls
			button(type='button').button.product-slider__btn-prev
				svg(width='16', height='8', viewBox='0 0 16 8', fill='none', xmlns='http://www.w3.org/2000/svg')
					path(d='M15 7.43799L8 1.4502L1 7.43799', stroke='#636363', stroke-linecap='round', stroke-linejoin='round')
			.product-slider__item
				img(src='/assets/img/slider/prev1.png')
			.product-slider__item
				img(src='/assets/img/slider/prev2.png')
			.product-slider__item
				img(src='/assets/img/slider/prev3.png')
			.product-slider__item.product-slider__item--active
				img(src='/assets/img/slider/prev4.png')
			button(type='button').button.product-slider__btn-next
				svg(width='16', height='8', viewBox='0 0 16 8', fill='none', xmlns='http://www.w3.org/2000/svg')
					path(d='M1 0.766175L8 6.75391L15 0.766176', stroke='#636363', stroke-linecap='round', stroke-linejoin='round')
		.product-slider__pic
			img(src='/assets/img/slider/sl1.png')






