// Элемент "рейтинг (звездочки)" ========================= //


.raiting
	img(src='/assets/img/icons/str.svg').raiting__icon
	img(src='/assets/img/icons/str.svg').raiting__icon
	img(src='/assets/img/icons/str.svg').raiting__icon
	img(src='/assets/img/icons/str.svg').raiting__icon
	img(src='/assets/img/icons/str.svg').raiting__icon
