// Страница "О Нас", секция "Описание" ========================= //

.about-description {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  min-height: 680px;

  &__title {
    margin-bottom: 90px;
    margin-top: 90px;
    text-align: center;
    line-height: 0.7;
  }

  &__description {
    width: rem(620);
    line-height: $textLineHeight;
    margin-bottom: 140px;
  }

  &__text {
    text-align: justify;
  }
}
