// Страница "О Нас", секция "Производство" ========================= //

.production {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 120px;

  &__title {

  }

  &__content {
    margin-top: 85px;
  }
}
