// Страница "Вакансия", секция "Менеджер по продажам" ========================= //

.vacancy {
  padding: 61px 20% 150px 20%;

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__description {
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    text-align: justify;
    margin-bottom: 20px;
  }

  &__description-row {
    display: flex;
    justify-content: center;
  }

  &__name {
    font-size: 24px;
    margin-top: 26px;
    width: 30%;
  }

  &__time {
    margin-top: 26px;
    font-size: 24px;
  }

  &__salary {
    margin-top: 26px;
    font-size: 24px;
  }

  &__list {
    width: 54%;
    font-size: 20px;
  }

  &__item {
    position: relative;
    margin-top: 30px;

    &:before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      left: -20px;
      top: 10px;
      border-radius: 50%;
      background-color: #D29965;
    }
  }

  &__feedback {
    width: 905px;
    height: 140px;
    background-color: #D29965;
    margin-top: 150px;
    position: relative;
  }

  &__feedback-box {
    position: absolute;
    width: 550px;
    height: 280px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    bottom: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__mail {
    position: relative;
    margin-top: 60px;
    padding-left: 30px;
  }

  &__icon {
    position: absolute;
    left: 30px;
    top: 8px;
  }
}



