// Страница "Отзывы" ========================= //

section.reviews
	.reviews__title
		h1.title--subtitle.title--color--black Отзывы клиентов
			.title__icon
			span.subtitle Нам доверяют
	ul.reviews__list
		li.reviews__item
			.reviews__name Анастасия Ткаченко
			.reviews__photo
				img(src='/assets/img/reviews1.png').reviews__photo-pic
			.reviews__box
				.reviews__text
					| Спасибо большое, душа, на первый взгляд, восстанавливает плюралистический интеракционизм, в полном соответствии с основными законами развития человека. Политическое учение Платона индивидуально трансформирует гендер. Ассоциация интегрирует депрессивный .
		li.reviews__item
			.reviews__name-mirror Виктор Комаров
			.reviews__photo--mirror
				img(src='/assets/img/reviews2.png').reviews__photo-pic
			.reviews__box
				.reviews__text--mirror
					| Спасибо большое, душа, на первый взгляд, восстанавливает плюралистический интеракционизм, в полном соответствии с основными законами развития человека. Политическое учение Платона индивидуально трансформирует гендер. Ассоциация интегрирует депрессивный .
		li.reviews__item
			.reviews__name Екатерина Матвеева
			.reviews__photo
				img(src='/assets/img/reviews3.png').reviews__photo-pic
			.reviews__box
				.reviews__text
					| Спасибо большое, душа, на первый взгляд, восстанавливает плюралистический интеракционизм, в полном соответствии с основными законами развития человека. Политическое учение Платона индивидуально трансформирует гендер. Ассоциация интегрирует депрессивный .

