// Страница "Вакансия", секция "Менеджер по продажам" ========================= //

section.vacancy
	.container.vacancy__container
		.vacancy__title
			h1.title МЕНЕДЖЕР ПО ПРОДАЖАМ
			h2.title Описание вакансии
			.title__icon
		.vacancy__description
			p.vacancy__text
				| Диахронический подход, на первый взгляд, многопланово образует художественный вкус. Канон изящно дает архетип, что-то подобное можно встретить в работах Ауэрбаха и Тандлера. Согласно теории "вчувствования", разработанной Теодором Липпсом, анимус имитирует текст. Теория вчувствования свободна. Выявляя устойчивые архетипы на примере художественного творчества, можно сказать, что одиночество иллюстрирует определенный фактор.
			.vacancy__description-block
				.vacancy__description-row
					.vacancy__name Требования:
					ul.vacancy__list
						li.vacancy__item Согласно теории "вчувствования", разработанной Теодором Липпсом
						li.vacancy__item Диахронический подход, на первый взгляд, многопланово образует художественный вкус
						li.vacancy__item Согласно теории "вчувствования", разработанной Теодором Липпсом
						li.vacancy__item Диахронический подход, на первый взгляд, многопланово образует художественный вкус
				.vacancy__description-row
					.vacancy__name Время работы:
					.vacancy__list
						.vacancy__time 9:00 - 18:00   5/2
				.vacancy__description-row
					.vacancy__name Зарплата:
					.vacancy__list
						.vacancy__salary по результату собеседования
		.vacancy__feedback
		.vacancy__feedback-box
			h2.title--subtitle.title--color--black Откликнуться
				.title__icon
				.subtitle Отправьте свое резюме по почте #[br] и мы свяжемся с Вами
				.vacancy__mail poshta@mail.ru
					img(src='/assets/img/icons/mail.png').vacancy__icon





