// Страница "Заявка", секция "заявка" ========================= //

section.request
	.request__title
		h1.title--subtitle Заявка
			.title__icon
			span.subtitle Бесплатный вызов профессионального #[br] дизайнера-замерщика на дом
		.request__form
			include ./request-form
