// Страница "Заявка", секция "Форма" ========================= //

section.request-form
	.request-form__before
		.request-form__box
			.request-form__title
				.title.title--color--black Заполните форму
				.title__icon
			form.request-form__form
				.request-form__form-title Оставьте заявку сейчас  и мы ответим!
				.request-form__label
					.request-form__name Имя
					input(type='text' name='name' required).request-form__input
				.request-form__label
					.request-form__name Фамилия
					input(type='text' name='last-name' required).request-form__input
				.request-form__label
					.request-form__name Почта
					input(type='text' name='last-name' required).request-form__input
				a.request-form__link Пользовательское соглашение
				.request-form__button-box
					button.request-form__button.button--second Отправить
