// Страница "Заявка", секция "Заявка" ========================= //

.request {
  padding: 60px 0 50px 0;
  background-image: url("/assets/img/request.png");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 900px;

  &:before {
     position: absolute;
     content: '';
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     background: rgba(87, 79, 70, 0.4);
   }

  &__form {
    z-index: 20;
    background: rgba(87, 79, 70, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
    position: relative;
  }
}

