 //Страница "Заявка", элемент "Форма" ========================= //

.form-request {
  padding: 30px 130px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    color: $mainFontColor;
    text-align: center;
    font-size: rem(24);
  }

  &__label {
    margin-top: 15px;
  }

  &__name {
    color: $secondFontColor;
    font-weight: bold;
  }

  &__name-radio {
    font-size: 24px;
    color: #FFFFFF;
  }

  &__radio {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 45px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__input {
    border: 0 solid $borderMainColor;
    border-bottom: 2px solid $borderMainColor;
    color: $mainFontColor;
    width: 333px;
    padding: 5px 12px;
    height: 35px;
    outline: none;
    background-color: transparent;
  }

  &__input-radio {

  }

  &__checkbox {
    display: flex;
    align-items: center;
    margin-top: 45px;
  }

  &__textarea {
    border: 0 solid $borderMainColor;
    color: $mainFontColor;
    border-bottom: 2px solid $borderMainColor;
    width: 333px;
    padding: 5px 9px;
    background-color: transparent;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
  }

  &__controls-radio {
    display: flex;
  }

  &__controls-title {
    margin-top: 30px;
    font-size: 24px;
    color: #FFFFFF;
  }

  &__link {
    font-size: 16px;
    color: #000000;
    text-decoration: underline;
    margin-bottom: 18px;
    cursor: pointer;
  }

  &__personal-data {
    font-size: 16px;
    color: #FFFFFF;
  }

  &__personal-data-link {
    text-decoration: underline;
    margin-left: 5px;
    color: #FFFFFF;
  }

  &__input-radio {
    position: absolute;
    opacity: 0;
  }

  &__input-checkbox {
    position: absolute;
    opacity: 0;
  }

  &__checkbox-icon {
    display: block;
    width: 18px;
    height: 18px;
    background-color: #FFFFFF;
    position: relative;
    margin-right: 12px;

    &:after {
      content: url("/assets/img/icons/check.svg");
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }

  &__input-checkbox:checked + .form-request__checkbox-icon:after {
    opacity: 1;
    transition: .2s;
  }

  &__radio-icon {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: relative;
    margin-right: 15px;

    &:after {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      position: absolute;
      background-color: $secondFontColor;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }

  &__input-radio:checked + .form-request__radio-icon:after {
    opacity: 1;
    transition: .2s;
  }
}
