section.technology-content
	.technology-content__border
		.container
			.technology-content__title
				h1.title--subtitle MTM & MTO
					.title__icon
					span.subtitle о технологии
			.technology-content__box
				.technology-content__pic
					img(src='/assets/img/con.png').technology-content__img
				.technology-content__desc
					p.technology-content__desc-text Повседневная практика показывает, что новая модель после этой организационной деятельности позволяет выполнять важные задания по разработке систем массового участия. Разнообразный и богатый опыт новая модель и особой организационной деятельности играет важную роль в систем массового участия.

