// Страница "Технологии" ========================= //

section.technology-single
	.container
		.technology-single__title
			h1.title--subtitle BESPOKE & MTM & MTO
				.title__icon
				span.subtitle Мебель, сделанная для Вас, #[br] позволит чувствовать себя счастливыми

